html,
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	padding: 16px 40px;

	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;;
	color: #ffffff;

	border: none;
	border-radius: 3px;
	background-color: #fb565a;
}

.btn:hover,
.btn:focus {
	background-color: #e74246;
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
	background-color: #00bc6c;
}

.btn-green:active {
	background-color: #00aa62;
}

.btn-yellow {
	background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: #eab534;
}

.btn-yellow:active {
	background-color: #e5a722;
}

/*-----------------------------------------------------*/

.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	display: flex;
	padding-top: 49px;

	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;	
}

.main-header-logo {
	width: 160px;
	height: 65px;
	margin-right: 178px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.user-navigation {
	display: flex;
	max-width: 160px;
	margin: 0;
	padding: 0;
	margin-left: auto;

	list-style: none;
}


.site-navigation a,
.user-navigation a {
	display: block;
	padding-top: 27px;
	padding-bottom: 5px;

	color: #000000;
}

.site-navigation a {
	position: relative;
	padding-left: 23px;
	padding-right: 23px;
}

.site-navigation a[href]:hover,
.user-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:focus {
	color: #fb565a;
	outline: none;
}

.site-navigation a[href]:active,
.user-navigation a[href]:active {
	color: rgba(0, 0, 0, 0.3);
}

.basket {
	position: relative;
	padding-left: 41px;
}

.basket::before {
	content: "";
	position: absolute;
	left: 0;
	top: 34px;

	width: 15px;
	height: 15px;

	background-image: url("../img/cart-icon.svg");
}

.site-navigation-current a::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 23px;
	left: 23px;

	height: 2px;

	background-color: #fb565a;
}

.user-navigation-current a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;

	height: 2px;
	width: 100%;

	background-color: #fb565a;
}


/*---------slider----------------*/

.slider {
	position: relative;
	width: 100%;
	height: 431px;
}

.slides {	
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-controls {
	position: absolute;
	bottom: 96px;
	left: 50%;

	display: flex;
	justify-content: center;

	margin: 0;
	margin-left: -120px;
	padding: 0;
	width: 240px;

	list-style: none;
}

.slider-control-item {
	margin-right: 17px;
}

.slider-control-item:last-child {
	margin-right: 0;
}


.slider-controler {
	display: block;
	width: 18px;
	height: 18px;
	padding: 0;

	border: none;
	background-color: #ffffff;
	border-radius: 50%;
	outline: none;
}

.slider-controler.current {
	box-shadow: 
		inset 0 0 0 5px #ffffff,
		inset 0 0 0 7px #c2c2c2;
}


.slide {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide h3 {
	margin: 0;
	padding-top: 78px;
	margin-bottom: 26px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slide p {
	margin: 0;
	margin-bottom: 40px;
}

.slide-1 {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: right 31px bottom;
}

.slide-2 {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.slide-3 {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.current-slide {
	display: block;
}

.slider .btn {
	padding: 16px 54px;
}

/*---------slider------------------*/

.slider-features {
	margin-bottom: 80px;
}

.services {
	padding-bottom: 80px;

	border-bottom: 2px solid #a6a6a6;
}

.services-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.service-item {
	width: 300px;
	margin-right: 100px;
	/*padding-top: 174px;*/
}

.service-item:last-child {
	margin-right: 0;
}

.service-item-title {
	margin: 0;
	margin-bottom: 16px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.service-item p {
	margin: 0;
	margin-bottom: 32px;
}

.service-item::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	margin-bottom: 25px;
}

.service-item-1::before {
	background-image: url("../img/illustration-1.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.service-item-2::before {
	background-image: url("../img/illustration-2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.service-item-3::before {
	background-image: url("../img/illustration-3.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.about-us {
	display: flex;
	justify-content: space-between;
	padding-top: 74px;
	padding-bottom: 50px;

	background-image: url("../img/nerds-illustration.png");
	background-repeat: no-repeat;
	background-position: top 40px right;

	border-bottom: 2px solid #a6a6a6;
}

.about-us .left-column {
	width: 660px;
}

.about-us .right-column {
	width: 360px;

}

.about-us-preview {
	margin: 0;
	padding: 0;
	margin-bottom: 39px;
}

.about-us-preview b {
	display: inline-block;
	margin-bottom: 33px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;

	color: #000000;
}

.offers {
	margin: 0;
	padding: 0;
	margin-bottom: 23px;

	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}


.offers-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.offers-list li {
	margin-bottom: 24px;
}

.offers-list li::before {
	content: "";
	display: inline-block;
	width: 23px;
	margin-right: 10px;

	vertical-align: middle;
	border: 1px solid #fb565a;
}

.statistic caption {
	margin-top: 210px;
	margin-bottom: 29px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.statistic th {
	width: 120px;
	padding: 15px 0;

	font-weight: 400;
	line-height: 18px;
	text-align: left;
}

.statistic td {
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	color: #000000;
}

.statistic sup {
	font-size: 28px;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	min-height: 180px;
	margin: 0;
	padding: 0;
	
	list-style: none;
	border-bottom: 2px solid #a6a6a6;
}

.partners-list li {
	width: 260px;
	text-align: center;
}

.partners-item-logo {
	opacity: 0.2;
}

.partners-item-logo:hover,
.partners-item-logo:focus {
	opacity: 1;
}

.partners-item-logo:active {
	opacity: 0.1;
}


.main-footer{
	margin-top: 80px;
}

.footer-contacts {
	position: relative;
}

.footer-contacts .map {
	margin: 0;
	padding: 0;
	height: 416px;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.footer-contacts .address {
	box-sizing: border-box;
	position: absolute;
	top: 54px;

	margin: 0;
	width: 319px;
	padding: 49px;

	line-height: 18px;
	color: #666666;
	background-color: #ffffff;
}

.address b {
	display: inline-block;
	margin-bottom: 24px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.address .phone {
	display: inline-block;
	padding-top: 18px;
	margin-bottom: 35px;
}

.footer-social {
	display: flex;
	align-items: center;
	padding: 70px 0;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.social-btn {
	display: flex;
	width: 78px;
	height: 78px;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	background-color: #e1e1e1;
}

.social-btn:hover,
.social-btn:focus {
	background-color: #e74246;
}

.social-btn:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.social-btn:active img {
	opacity: 0.3;
}

.footer-social ul {
	width: 260px;
	margin: 0;
	margin-right: 140px;
	padding: 0;

	list-style: none;
}

.footer-social p {
	margin: 0;
	padding: 0;
	width: 600px;
	line-height: 22px;
	color: #444444;
}

.footer-social b {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}



.modal-message {
	display: none;
	position: fixed;
	z-index: 100;
	bottom: 180px;
	left: 50%;

	width: 760px;
	margin-left: -480px;
	padding: 65px 100px 84px;

	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

@keyframes appearance {
	0% {
		opacity: 0;

	}
	100% {
		opacity: 1;
	}
}

@keyframes error {
	50% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(10px);
	}
}

.modal-message-show {
	display: block;
	animation-name: appearance;
	animation-duration: 0.6s;
}

.modal-error {
	animation-name: error;
	animation-duration: 0.05s;
	animation-iteration-count: 4;
	animation-direction: alternate;
}

.modal-close {
	position: absolute;
	top: 78px;
	right: 86px;

	font-size: 0;
	background-color: transparent;
	opacity: 0.3;
	border: none;
	cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
	outline: none;
}

.modal-close:active {
	opacity: 0.1;
	outline: none;
}


.modal-message h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.modal-message p {
	margin: 0;
	padding: 0;
}

.modal-message label {
	display: inline-block;
	margin-bottom: 10px;
}

.user-contacts {
	display: flex;
	justify-content: space-between;
	margin-bottom: 34px;
}

.user-contacts input {
	display: block;
	width: 360px;
}

.modal-message-item {
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.modal-message-item input,
.modal-message-item textarea {
	box-sizing: border-box;
	padding: 14px;

	font: inherit;
	font-weight: 400;
	color: rgba(68, 68, 68, 0.5);

	border: 2px solid #d7dcde;
	border-radius: 2px;
}

.modal-message-item textarea {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 47px;
}

.modal-message-item input:hover,
.modal-message-item textarea:hover {
	border-color: #b4b9bb;
}

.modal-message-item input:focus,
.modal-message-item textarea:focus {
	color: #444444;

	border-color: #000000;
	outline: none;
}

.modal-message-item input:invalid,
.modal-message-item textarea:invalid {
	color: #e74246;

	border-color: #e74246;
}

.modal-message button[type="submit"] {
	padding-right: 82px;
	padding-left: 82px;
	cursor: pointer;
}



/*inner-page styles*/

.main-header {
	margin-bottom: 56px;
}

.inner-page .main-header-logo:hover,
.inner-page .main-header-logo:focus {
	opacity: 0.8;
}

.inner-page .main-header-logo:active {
	opacity: 0.3;
}

.page-title {
	margin: 0;
	padding: 0;
	padding-top: 78px;
	padding-bottom: 107px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
	color: #000000;

	background-color: #eeeeee;
}


.flex-container {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 260px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	margin-bottom: 23px;
	border: none;
}

.filter legend {
	margin-bottom: 15px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #000000;
}

fieldset.range-cost {
	margin-bottom: 56px;
}

.range-cost legend {
	margin-bottom: 48px;
}

.range-field {
	position: relative;

	width: 260px;
	height: 80px;
	margin-bottom: 14px;

	background-color: #eeeeee;
	border-radius: 3px;
}

.scale {
	position: absolute;
	top: 39px;
	left: 21px;

	width: 218px;
	height: 2px;

	background-color: #d7dcde;
}

.scale::before {
	content: "";
	position: absolute;

	left: 0;
	right: 120px;

	height: 2px;

	background-color: #00ca74;
}

.toggle {
	position: absolute;;

	box-sizing: border-box;
	width: 20px;
	height: 20px;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px #ababab;
}

.toggle-min {
	top: 30px;
	left: 11px;
}

.toggle-max {
	top: 30px;
	left: 110px;
}

.range-inputs {
	display: flex;
	justify-content: space-between;
}

.range-inputs label {
	text-transform: uppercase;
	line-height: 22px;
}

.range-inputs input {
	box-sizing: border-box;
	width: 80px;
	margin-left: 11px;
	padding-top: 10px;
	padding-bottom: 8px;

	font-size: 16px;
	text-align: center;

	background-color: #eeeeee;
	border: none;
	border-radius: 3px;

}




.filter-grid-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-features-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-option {
	margin-bottom: 21px;

	color: #283136;
	line-height: 20px;
}

.filter-option label {
	position: relative;
	padding-left: 36px;

	cursor: pointer;
}

.filter-input-radio + label::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: -3px;
	left: 0;

	width: 25px;
	height: 25px;

	background-color: #ffffff;
	border: 4px solid #4d4d4d;
	border-radius: 50%;
	opacity: 0.4;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 8px;

	width: 9px;
	height: 9px;

	background-color: #4d4d4d;
	border-radius: 50%;
	opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after {
	opacity: 1;
}

.filter-input-radio:focus + label::before {
	opacity: 1;
	outline: thin dotted;
  	outline: 5px auto -webkit-focus-ring-color;
}

.filter-option:hover {
	color: #000000;
}

.filter-option input:disabled + label,
.filter-option input:disabled + label::before {
	opacity: 0.3;
}



.filter-input-features + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;

	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.4;
}

.filter-input-features:checked + label::before {
	background-image: url("../img/checkbox-on.svg");
}

.filter-input-features:hover + label::before,
.filter-input-features:focus + label::before {
	opacity: 1;
}

.filter-input-features:focus + label::before {
	outline: thin dotted;
  	outline: 5px auto -webkit-focus-ring-color;
}


.filter-button {
	color: #000000;
	padding-left: 88px;
	padding-right: 88px;

	background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.sort {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}


.sort h2 {
	margin: 0;
	padding: 0;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1px;
	color: #000000;
}

.sort-options {
	display: flex;
	justify-content: space-between;
	width: 360px;
}

.sort-options-list,
.sort-range-list {	
	margin: 0;
	padding: 0;

	list-style: none;	
}

.sort-option {
	display: inline-block;

	margin-right: 20px;
	
}

.sort-option:last-child {
	margin-right: 0;
}

.sort-option a {
	font: inherit;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.sort-option:not(.sort-option-current) a:hover,
.sort-option:not(.sort-option-current) a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sort-option a:active,
.sort-option-current a {
	color: #000000;
}

.sort-range {
	display: inline-block;
}


.sort-btn {
	margin: 0;

	font-size: 0;

	border: none;
	background-color: transparent;
	cursor: pointer;
}

.sort-range:hover:not(.sort-btn-current) > svg {
	opacity: 0.2;
}

.sort-btn-current > svg polygon,
.sort-btn:active > svg polygon {
	fill: #231f20;
}


.catalog-list {
	display: flex;
	width: 760px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 28px;
	padding: 0;

	list-style: none;
}

.catalog-item {
	position: relative;

	width: 360px;
	margin-bottom: 33px;
	padding-top: 40px;
}

.catalog-item img {
	vertical-align: bottom;
}

.catalog-item::before {
	content: "";
	position: absolute;
	top: 0;

	width: 360px;
	height: 40px;

	background-image: url("../img/browser.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.12;
}

.catalog-item:hover {
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.catalog-item:hover::before {
	opacity: 1;
}

.catalog-item:hover .catalog-item-information {
	display: block;
}

.catalog-item-information {
	display: none;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	
	width: 100%;
	padding: 30px 60px 43px;
	text-align: center;

	background-color: #eeeeee;
}

.catalog-item-information h3 {
	margin: 0;
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 30px;
}

.catalog-item-information p {
	margin: 0;
	margin-bottom: 25px;
	
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}



.pagination-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.pagination-list li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}

.pagination-item {
	box-sizing: border-box;
	display: block;
	min-width: 50px;
	height: 50px;
	padding: 16px;

	line-height: 18px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;

	background-color: #eeeeee;
	outline: none;
}

.pagination-item-big {
	padding-left: 78px;
	padding-right: 78px;
}

.pagination-item:hover:not(.pagination-item-current),
.pagination-item:focus:not(.pagination-item-current) {
	background-color: #dfdfdf;
}

.pagination-item:active:not(.pagination-item-current) {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
	box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.pagination-item-current {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.inner-page .main-footer {
	margin-top: 58px;
}